<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.fiveminutesmarket.outbox.repository.OutBoxRepository">
    <insert id="insertOutBox" parameterType="map" useGeneratedKeys="true" keyProperty="outBoxId">
        INSERT INTO out_box(aggregate_id, aggregate_type, event_type, payload)
        VALUES (#{outBox.aggregateId}, #{outBox.aggregateType}, #{outBox.eventType}, #{outBox.payload})
    </insert>

    <select id="findAll" resultType="kr.fiveminutesmarket.outbox.domain.OutBox">
        SELECT
               out_box_id,
               aggregate_id,
               aggregate_type,
               event_type,
               payload
        FROM out_box
        ORDER BY out_box_id
    </select>

    <delete id="deleteAllByOutBoxId">
        DELETE FROM out_box
        WHERE out_box_id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>