<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.fiveminutesmarket.order.repository.PaymentHistoryRepository">
    <insert id="insertPaymentHistory" parameterType="map" useGeneratedKeys="true" keyProperty="paymentHistoryId">
        INSERT INTO payment_history(tid, orders_id, success, payment_log)
        VALUES(#{paymentHistory.tid},
               #{paymentHistory.ordersId},
               #{paymentHistory.success},
               #{paymentHistory.paymentLog}
               )
    </insert>

    <select id="findByOrdersId" resultType="kr.fiveminutesmarket.order.domain.PaymentHistory">
        SELECT
               *
        FROM payment_history
        WHERE orders_id = #{ordersId}
    </select>
</mapper>