<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.fiveminutesmarket.product.repository.ProductOptionRepository">

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="productOptionId">
        INSERT INTO product_option(optional, product_id)
        VALUES(#{productOption.optional}, #{productOption.productId})
    </insert>

    <select id="findAll" resultType="kr.fiveminutesmarket.product.domain.ProductOption">
        SELECT
               product_option_id,
               optional,
               product_id
        FROM product_option
    </select>

    <select id="findById" parameterType="map" resultType="kr.fiveminutesmarket.product.domain.ProductOption">
        SELECT
               product_option_id,
               optional,
               product_id
        FROM product_option
        WHERE product_option_id = #{productOptionId}
    </select>

    <update id="updateProductOption" parameterType="map">
        UPDATE product_option
        SET optional = #{productOption.optional}
        WHERE product_option_id = #{productOptionId}
    </update>

    <delete id="deleteById" parameterType="map">
        DELETE FROM product_option
        WHERE product_option_id = #{productOptionId};
    </delete>
</mapper>