<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.fiveminutesmarket.product.repository.ProductRepository">

    <resultMap id="productListDTO" type="kr.fiveminutesmarket.product.dto.ProductListDto">
        <id property="productId" column="productId" />
        <result property="sellerId" column="sellerId" />
        <result property="quantity" column="quantity" />
        <result property="name" column="name" />
        <result property="price" column="price" />
        <result property="thumb" column="thumb" />
        <result property="detail" column="detail" />
        <association property="mainCategory">
            <id property="mainCategoryId" column="mainCategoryId" />
            <result property="mainCategoryName" column="mainCategoryName" />
        </association>
        <association property="subCategory">
            <id property="subCategoryId" column="subCategoryId" />
            <result property="subCategoryName" column="subCategoryName" />
        </association>
        <collection property="options" column="productOption" ofType="kr.fiveminutesmarket.option.dto.OptionDto">
            <id property="optionId" column="optionId" />
            <result property="isOptional" column="isOptional" />
            <collection property="optionItemList" column="optionItem" ofType="kr.fiveminutesmarket.option.dto.OptionItemDto">
                <id property="optionItemId" column="optionItemId" />
                <result property="optionItemName" column="optionItemName" />
                <result property="optionItemPrice" column="optionItemPrice" />
            </collection>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="productListDTO" parameterType="int">
        SELECT *
        FROM product
        LEFT OUTER JOIN main_category ON product.main_category_id = main_category.main_category_id
        LEFT OUTER JOIN sub_category ON product.sub_category_id = sub_category.sub_category_id
        LEFT OUTER JOIN product_option ON product.product_id = product_option.product_id
        LEFT OUTER JOIN option_item ON product_option.option_id = option_item.option_id
        LIMIT #{startIndex}, #{itemCount}
    </select>

    <select id="findByProductId" resultType="kr.fiveminutesmarket.product.domain.Product">
        SELECT *
        FROM product
        WHERE product_id = #{productId}
    </select>

    <insert id="insertProduct" parameterType="kr.fiveminutesmarket.product.domain.Product">
        INSERT INTO product (main_category_id, sub_category_id, name, price, thumb, detail)
        VALUES (#{mainCategoryId}, #{subCategoryId}, #{name}, #{price}, #{thumb}, #{detail})
        <selectKey keyProperty="productId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as product_id
        </selectKey>
    </insert>

</mapper>