<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.fiveminutesmarket.product.repository.ProductRepository">

    <resultMap id="productListDTO" type="kr.fiveminutesmarket.product.dto.response.ProductListResponseDTO">
        <id property="productId" column="product_id" />
        <result property="sellerId" column="seller_id" />
        <result property="quantity" column="quantity" />
        <result property="name" column="name" />
        <result property="price" column="price" />
        <result property="thumb" column="thumb" />
        <result property="detail" column="detail" />
        <association property="mainCategory" javaType="kr.fiveminutesmarket.category.domain.MainCategory">
            <id property="mainCategoryId" column="main_category_id" />
            <result property="mainCategoryName" column="main_category_name" />
        </association>
        <association property="subCategory" javaType="kr.fiveminutesmarket.category.domain.SubCategory">
            <id property="subCategoryId" column="sub_category_id" />
            <result property="subCategoryName" column="sub_category_name" />
        </association>
    </resultMap>

    <select id="findAll" resultMap="productListDTO" parameterType="map">
        SELECT *
        FROM product
                 LEFT OUTER JOIN main_category ON product.main_category_id = main_category.main_category_id
                 LEFT OUTER JOIN sub_category ON product.sub_category_id = sub_category.sub_category_id
            LIMIT #{startIndex}, #{itemCount}
    </select>

    <resultMap id="productResponseDTO" type="kr.fiveminutesmarket.product.dto.response.ProductResponseDTO">
        <id property="productId" column="product_id" />
        <result property="sellerId" column="seller_id" />
        <result property="quantity" column="quantity" />
        <result property="name" column="name" />
        <result property="price" column="price" />
        <result property="thumb" column="thumb" />
        <result property="detail" column="detail" />
        <association property="mainCategory" javaType="kr.fiveminutesmarket.category.domain.MainCategory">
            <id property="mainCategoryId" column="main_category_id" />
            <result property="mainCategoryName" column="main_category_name" />
        </association>
        <association property="subCategory" javaType="kr.fiveminutesmarket.category.domain.SubCategory">
            <id property="subCategoryId" column="sub_category_id" />
            <result property="subCategoryName" column="sub_category_name" />
        </association>
        <collection property="options" column="productOption" ofType="kr.fiveminutesmarket.option.dto.ProductOptionDto">
            <id property="optionId" column="option_id" />
            <result property="isOptional" column="is_optional" />
            <collection property="optionItemList" ofType="kr.fiveminutesmarket.option.dto.OptionItemDto">
                <id property="optionItemId" column="option_item_id" />
                <result property="optionItemName" column="option_item_name" />
                <result property="optionItemPrice" column="option_item_price" />
            </collection>
        </collection>
    </resultMap>

    <select id="findByProductId" resultMap="productResponseDTO" parameterType="java.lang.Long">
        SELECT *
        FROM product
                 LEFT OUTER JOIN main_category ON product.main_category_id = main_category.main_category_id
                 LEFT OUTER JOIN sub_category ON product.sub_category_id = sub_category.sub_category_id
                 LEFT OUTER JOIN product_option ON product.product_id = product_option.product_id
                 LEFT OUTER JOIN product_option_item ON product_option.option_id = product_option_item.option_id
        WHERE product.product_id = #{productId}
    </select>

    <insert id="insertProduct" parameterType="kr.fiveminutesmarket.product.domain.Product">
        INSERT INTO product (main_category_id, sub_category_id, seller_id, quantity, name, price, thumb, detail)
        VALUES (#{mainCategoryId}, #{subCategoryId}, #{sellerId}, #{quantity}, #{name}, #{price}, #{thumb}, #{detail})
        <selectKey keyProperty="productId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as product_id
        </selectKey>
    </insert>

    <update id="updateProduct" parameterType="kr.fiveminutesmarket.product.domain.Product">
        UPDATE product
        SET main_category_id = #{mainCategoryId}, sub_category_id = #{subCategoryId}, name = #{name}, price = #{price}, thumb = #{thumb}, detail = #{detail}
        WHERE product_id = #{productId}
    </update>

    <update id="updateQuantity" parameterType="map">
        UPDATE product
        SET quantity = #{quantity}
        WHERE product_id = #{productId}
    </update>

    <delete id="deleteProduct" parameterType="map">
        DELETE FROM product
        WHERE product_id = #{productId}
    </delete>

</mapper>