<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.fiveminutesmarket.user.repository.ResetPwKeyRepository">
    <insert id="insertResetPwKey">
        INSERT INTO reset_pw_key(reset_key, expire_date, email)
        VALUES (#{key}, #{expiredDate}, #{email})
    </insert>

    <select id="findByResetKey" resultType="kr.fiveminutesmarket.user.domain.ResetPwKey">
        SELECT
               reset_pw_key_id,
               reset_key,
               expire_date,
               email
        FROM reset_pw_key
        WHERE reset_key = #{key}
    </select>
</mapper>